* {
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(61, 66, 69);
}

.header {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.header p {
    font-size: 60px;
    font-weight: 900;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
    padding: 20px;
}

.subheader {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheader p {
    font-size: 30px;
    font-weight: 900;
    color: aliceblue;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    padding: 20px;
}

.container {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container button {
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
    height: 80px;
    width: 120px;
    border-radius: 10px;
    border-color: aliceblue;
}

.score {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.score p {
    font-size: 40px;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
}

